.container {
    max-width: 900px;
    margin: 5px;
}

mat-card {
    margin: 10px;

    a {
        text-decoration: none !important;
    }
}

@media screen and (max-width: 400px) {
    mat-card {
        max-width: 370px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        max-width: 1200px;
    }
}