.container {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  mat-card {
    width: 270px;
    margin: 10px;
    place-self: center;

    img {
      height: 120px;
      width: 270px;
      object-fit: cover;
      object-position: 50% 90%;
    }

    a {
      text-decoration: none !important;
    }

    .tag {
      color: #c552d9;
    }
  }
}

@media screen and (max-width: 880px) {
  .container {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    .card-wrapper {
      grid-template-columns: 1fr;
    }
    mat-card {
      width: 100%;

      img {
        height: 140px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        object-position: 50% 100%;
      }
    }
  }
}
