.container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;

    mat-card {
        width: 270px;
        margin: 10px;

        img {
            max-height: 170px;
        }
    
        a {
            text-decoration: none !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;

        mat-card {
            width: 100%;
        }
    }
}