<div class="container">
    <app-latest-news></app-latest-news>
    <mat-card *ngFor="let article of articles" matTooltip="Read Article" color="primary">
        <a [href]="article.link" target="_blank">
            <img mat-card-image [src]="article.img" [alt]="'Article cover for: ' + article.title">
            <mat-card-header>
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-subtitle>{{ article.date | date }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <a *ngFor="let tag of article.tags" class="tag" [href]="tag.link" mat-button target="_blank" matTooltip="Read Docs">
                    <span>#{{tag.name}}</span>
                </a>
            </mat-card-actions>
        </a>
    </mat-card>
</div>