.container {
    max-width: 900px;
    margin: 5px;

    mat-card {
        margin: 10px;

        a {
            text-decoration: none !important;
        }
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1200px;
    }
}