mat-toolbar {
  box-shadow: #bda1dd 2px 5px 5px;
  background-color: #7b1fa2;
  height: 50px;

  .menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin: 0 7px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #edc348;
      }
    }

    .heading {
      color: white;
    }

    .active {
      color: #edc348;
    }

    .burger {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-block: 25px;
  transition: 0.3s;

  aside {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bio {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
      }
    }

    .icon-btn {
      color: rgb(61, 60, 60);
    }

    .pfp {
      width: 250px;
      height: 250px;
      border-radius: 5%;
      background-color: #fff;
      display: block;
      box-shadow: #bda1dd 2px 2px 3px;
      border: solid #bda1dd 1px;
    }
  }
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #7b1fa2;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 500px) and (max-width: 1180px) {
  .container {
    transition: 0.3s;
    flex-direction: column;
    align-items: center;

    aside {
      flex-direction: row;
      align-items: center;
      max-width: 90%;
      gap: 25px;
    }
  }

  .burger {
    display: block !important;
  }

  .links {
    display: none;
  }

  .menu {
    width: 95% !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 400px) {
  mat-toolbar {
    position: fixed;
    z-index: 100;
  }
  .container {
    padding-top: 50px;
    aside {
      width: 99%;
      margin: auto !important;
      padding-top: 10px;
      max-width: 320px !important;

      .bio {
        padding: 5px;

        p {
          text-align: center;
        }
      }

      img {
        height: 290px !important;
        width: 290px !important;
      }
    }
  }

  main {
    max-width: 100%;
  }

  .container {
    max-width: unset;
    flex-wrap: wrap;
  }

  .links {
    display: none;
  }

  mat-toolbar {
    padding: 0px;

    .menu {
      display: flex;
      margin: 2px;
      align-items: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .burger {
    display: block !important;
  }
}
