mat-toolbar {
    .menu {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            margin: 0 10px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: #edc348;
            }
        }

        .heading {
            color: white;
        }

        .active {
            color: #edc348;
        }

        .burger {
            display: none;
        }
    }
}

.container {
    display: flex;

    aside {
        margin-top: 10px;
        margin-left: 200px;
        max-width: 270px;

        .icon-btn {
            color: rgb(61, 60, 60);
        }

        .pfp {
            width: 250px;
            height: 250px;
            border-radius: 5%;
            background-color: #fff;
            display: block;
            margin-bottom: 20px;
        }   
    }
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #7b1fa2;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    aside {
        width: 99%;
        margin: auto !important;
        padding-top: 10px;
        max-width: 320px !important;

        img {
            height: 290px !important;
            width: 290px !important;
        }
    }

    .container {
        width: 90%;
        max-width: unset;
        margin-right: -10px;
        flex-wrap: wrap;
    }

    .links {
        display: none;
    }

    mat-toolbar {
        padding: 0px;
        
        .menu {
            display: flex;
            margin: 2px;
            align-items: center;
            width: 100%
        }
    }

}

@media screen and (max-width: 400px) {
    .burger {
        display: block !important;
    }
    
}