<div class="blog-posts-container">
    @for (post of blogPosts; track post) {
  <div class="blog-post">
        <div class="image-container">
            <img [ngSrc]="'assets/images/cover-photos/' + post.cover" width="240" height="190" [alt]="post.title"/>
        </div>
        <div class="post-content">
            <div class="title-section">
                <h2>{{post.title}}</h2>
                <span>
                    {{post.date | date: 'mediumDate'}}
                </span>
            </div>
            <p>{{post.description}}</p>
            <a class="read-more" [routerLink]="['/blog', post.slug]">Read more</a>
            <div class="tags">
                @for (tag of post.tags; track tag) {
  <a class="tag" [href]="tag.link" mat-stroked-button target="_blank" [matTooltip]="tag.link ? 'Read Docs' : ''">
                    <span>#{{tag.name}}</span>
                </a>
}
            </div>
            <div class="post-meta">
            </div>
        </div>
    </div>
}
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>