.blog-posts-container {
    max-width: 900px;
    margin: 12px;

    a:not(.read-more) {
        color: black;
        margin: 2px;
        border-color: black;
    }

    .blog-post {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 #bda1dd;
        padding: 10px;
        margin-bottom: 10px;

        >div {
            margin: 7px;
        }

        .image-container {
            width: 2%;

            img {
                object-fit: cover;
            }
        }

        .post-content {
            width: 70%;

            .title-section {
                margin-bottom: 15px;

                h2 {
                    margin: 0 0 0 0px !important;
                }

                span {
                    opacity: 0.6;
                }
            }

            p {
                margin: 0 0 2px;
            }

            .tags {
                margin-top: 18px;
            }
        }
    }
}

@media (min-width: 1800px) {
    .blog-posts-container {
        max-width: 1200px;
    }
}

@media (max-width: 480px) {
    .blog-posts-container {
        margin: 8px;

        .blog-post {
            display: block;

            .post-content {
                width: 100%;
            }

            img {
                width: 270px;
            }
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .blog-post {
        .post-content {
            width: 55% !important;

            .tags {
                a {
                    margin: 1px !important;
                }
            }
        }
    }
}