/* You can add global styles to this file, and also import other style files */

// @use '~@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/prebuilt-themes/purple-green.css';
// @import '~github-calendar/dist/github-calendar.css';

html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a:not([mat-button]):not([mat-tooltip]) {
    color: #c552d9;
    text-decoration: none;
}

.location {
    text-decoration: underline !important;
    display: flex;
    align-items: flex-end;
}

mat-card-title {
    color: #fff;
}


h2 {
    font-weight: 350 !important;
}

[mattooltip] {
    touch-action: auto !important;
}

.mat-drawer-container {
    color: inherit !important;
    background-color: inherit !important;
    height: 100%;
}

.mobile-link {
    display: flex !important;
    flex-wrap: wrap !important;

    mat-icon {
        margin-right: 5px;
    }
}

.mat-mdc-card-title {
    line-height: 23px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.mat-mdc-card-title {
    font-size: 16px !important;
    min-height: 46px !important;
}

.twitter-tweet-rendered {
    width: 70% !important;
    margin: auto !important;
}

blockquote:has(p) {
    padding: 7px;

    &:has(strong) {
        background-color: rgb(87, 39, 209);
        color: whitesmoke;
        border-radius: 10px;
        opacity: 0.95;
        box-shadow: 0 0 5px 0 #bda1dd;
    }
}

@media (max-width: 480px) {
    .blog-post-container {
        pre {
            width: 75%;
        }
    }

    .twitter-tweet-rendered {
        width: 100% !important;
    }

    main {
        max-width: 100% !important;
    }
}

@media (max-width: 900px) {
    main {
        max-width: 100% !important;
    }
}